body {
    padding-top: 10px;
    background: white;
}

h1 {
    font-family: 'Monaco';
    font-style: normal;
    font-weight: 400;
    text-align: center;
    color: purple;
    }

h2 { 
    font-family: cursive;
    color: black;
}
